#header {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

#container {
    margin-bottom: 2%;
}

#reg-card {
    border-radius: 0;
    border-color:  	#E0E0E0;
}

#reg-div {
    margin: 2px;
}

#square-priority {
    text-align: center;
    line-height: 50px;
}

#student-data {
    float: left;
}

#plus-minus {
    height: 40px;
    width:  40px;
    text-align: center;
    margin: 10px;
    float: right;
}

#progress {
    height: 20px;
}

.square {
    height: 50px;
    width: 50px;
    float: left;
    margin: 5px 15px 5px 5px;
    border-radius: 3px;
}